<h1>People#show</h1>
<%= @person.first_name %></br>
<%= @person.last_name %></br>
<%= @person.address.street_address %></br>
<%= @person.address.city %></br>
<%= @person.address.state %></br>
<%= @person.address.zip %></br>

<%= link_to "Back", people_url %>
